ul {
    margin: 0;
    padding: 16px 32px;
    display: block;
    width: 360px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #dde3ed;
    max-height: 350px;
    overflow-y: auto;
}