li {
    list-style: none;
    line-height: 28px;

    div {
        display: flex;
        align-items: center;

        button {
            cursor: pointer;
            border-radius: 2px;
            width: 15px;
            height: 15px;
            position: relative;
            border: 1px solid #777;
            background-color: white;

            &.hidden {
                visibility: hidden;
            }

            &:hover {
                background-color: whitesmoke;
            }

            svg {
                width: 8px;
                height: 8px;
                position: absolute;
                left: 3px;
                top: 3px;
                opacity: .5;
            }
        }

        label {
            margin-left: 16px;
            flex: 1;
            display: inline;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            input[type="checkbox"] {
                margin: 0;
            }

            span {
                margin-left: 8px;
            }
        }

        em {
            color: #9f9f9f;
            font-size: 11px;
            margin-left: 16px;
        }
    }


    ul {
        margin: 0 0 0 24px;
        padding: 0;
    }
}